{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "rewire": true,
    "sinon": true
  },
  "rules": {
    "no-console": 0,
    "strict": 0,
    "eqeqeq": 1,
    "quotes": [1, "single"],
    "no-underscore-dangle": 0,
    "camelcase": [0],
    "curly": [1, "multi"]
  }
}
